@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0.4px 1px 10px #5f5f5f61;
}

nav {
    margin-left: 30px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 28px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #333; 
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 90px auto 0px auto;

  }
  
img {
    max-width: 100%;
}

.fotoPerfil{
    width: 100%;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 280px;
    object-fit: contain;
}
  
#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 25vh;
    max-width: 800px;
    text-align: justify;
    min-height: 100vh
}

h1{
    font-size: 36px;
  
}

#inicio p{
    margin: 1rem 2rem;
    text-align: center;
    line-height: 1.2;
}

.botonDescarga{
    background-color: #af599e;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    padding: 0.5em 1em;
    height: 70;
    margin-bottom: 150px;
}

#contacto {
    margin: 1rem 2rem;
    text-align: center;
    min-height: 100vh
}

#hablemos{
    background-color: rgba(175, 89, 158, 0.3);
    color: #0f0f0f; 
    padding: 1em 0em 2em;
    border-radius: 15px;
}

h2{
    font-size: 28px;
    margin-bottom: 15px;
}

#contacto #hablemos p{
    margin: 0 10px;
    font-size: 18px;
    line-height: 1.2;

}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 40px 0px 00px 0px;
    padding: 0 26px;
}

.iconos li{
    max-width: 20%;
    width: 25%;
    list-style: none;
}

footer{
    background-color: #af599e;
    color: #fbfbfb;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-weight: lighter;
    font-size: 15px;
}